---

---

<script>
	const handleClick = () => {
		const btnGuess = document.getElementById("btnGuess")
	}
	const btnGuess = document.getElementById("btnGuess")
	btnGuess.addEventListener("click", () => {
		btnGuess.classList.add("hidden")
		const contGuess = document.getElementById("contGuess")
		contGuess.classList.toggle("hidden")
		contGuess.classList.add("flex")
		console.log("click")
	})
</script>

<form class="flex flex-col font-bold gap-3 w-2/3 text-zinc-800">
	<h3 class="text-lg tracking-wide font-black">Ingresa tus Datos</h3>
	<label for="name" class="flex flex-col gap-2 text-sm"
		>Nombre *
		<input
			type="text"
			id="name"
			name="name"
			class="border-2 p-2 rounded-lg focus:outline-blue-600 text-slate-600 font-normal"
			required
		/>
	</label>
	<label for="email" class="flex flex-col gap-2 text-sm"
		>Email *
		<input
			type="email"
			id="email"
			name="email"
			class="border-2 p-2 rounded-lg focus:outline-blue-600 text-slate-600 font-normal"
			required
		/>
	</label>
	<div class="h-16 flex justify-start items-center">
		<button
			id="btnGuess"
			type="button"
			class="text-blue-600 border-2 border-blue-600 w-max rounded-2xl text-sm px-5 py-1.5 transition-all"
		>
			Añadir invitados</button
		>
		<label for="guess" id="contGuess" class="hidden flex-col text-sm gap-2 ">
			Email de los invitados
			<input
				type="text"
				id="guess"
				name="date"
				class="border-2 p-2 rounded-lg focus:outline-blue-600 text-slate-600 font-normal"
			/>
		</label>
	</div>
	<label for="platform" class="flex flex-col gap-2 text-sm">
		Plataforma
		<div>
			<select>
				<option value="meet">Google Meet</option>
				<option value="zoom">Zoom</option>
				<option value="teams">Whatsap</option>
			</select>
		</div>
	</label>
	<label for="message" class="flex flex-col gap-2 text-sm">
		Por favor, compartenos cualquier cosa que nos ayude a preparar tu meeting.
		<textarea
			id="message"
			name="message"
			class="border-2 p-2 rounded-lg focus:outline-blue-500 text-slate-600 font-normal resize-none"
		></textarea>
	</label>
	<button
		type="submit"
		class="mt-4 bg-blue-600 text-white w-max py-2 px-8 rounded-3xl hover:bg-blue-700 transition-all hover:scale-105"
		>Enviar cita</button
	>
</form>
