---
import logo_black from "@icons/logo_black.png"
import { Image } from "astro:assets"
---

<nav
	id="navbar"
	class="flex justify-center py-3 lg:py-4  border-b-2 z-50 bg-white fixed top-0 w-full left-0  lg:px-8 xl:px-0  navbar"
>
	<div class="flex fle-row justify-between w-[1080px] px-4 lg:px-0 ">
		<a
			class="flex flex-row gap-2 items-center "
			href="https://github.com/EseToni/Freewebdesign"
			target="_blank"
		>
			<Image
				loading={"eager"}
				class="w-7 h-7"
				src={logo_black}
				alt="Freewebdesign"
			/>

			<h4 class="font-bold text-[#0D141C] text-xl">Freewebdesign</h4>
		</a>


			<a
				href="/demo"
				target="_parent"
				class="bg-[#4739b9] text-white  px-4 py-1 rounded-lg hover:text-[#4739b9] hover:bg-transparent hover:shadow-md transition-all"
				>Contacto</a
			>
	</div>
</nav>
