---
import bento1 from "@img/bento1.webp"
import bento2 from "@img/bento2.webp"
import bento3 from "@img/bento3.webp"
import bento4 from "@img/bento4.webp"
import { Image } from "astro:assets"

---

<section class="flex w-full justify-center">
	<div class="relative w-full lg:w-[928px] h-[680px]  grid grid-cols-6 grid-rows-12 lg:grid-cols-10 lg:grid-rows-10 gap-4 textShadow">
        <figure class="col-span-6 row-span-3 lg:col-span-4 lg:row-span-4 rounded-xl shadow-lg relative flex flex-col " >
            <div class="absolute z-10 bg-gradient-to-b from-transparent to-[rgb(1,1,1,0.7)] w-full h-full rounded-xl" />
            <Image loading={"eager"} src={bento1} alt="diseño web" class="rounded-xl absolute w-full h-full object-cover" />
            <figure class="absolute z-20 w-full h-full p-4 justify-end  flex flex-col gap-1">
                <figcaption class=" z-20 bottom-4 left-4 text-white text-2xl font-bold tracking-widest">Trato personal</figcaption>
                <p class=" z-20 bottom-0 left-4 text-white text-lg">Te agendamos tu cita, y hablamos <strong>personalmente</strong> de tu proyecto.</p>
            </figure>
        </figure>
        <article class="col-span-6 row-span-4 lg:col-span-6 lg:row-span-6  rounded-xl shadow-lg relative gap-1" >
            <div class="absolute z-10 bg-gradient-to-b from-transparent to-[rgb(1,1,1,0.7)] w-full h-full rounded-xl" />
            <Image loading={"eager"} src={bento2} alt="diseño web" class="rounded-xl absolute w-full h-full object-cover" />
            <figure class="absolute z-20 w-full h-full p-4 justify-end  flex flex-col">
                <figcaption class=" z-20 bottom-4 left-4 text-white text-2xl font-bold tracking-widest">Servidores dedicado</figcaption>
                <p class=" z-20 bottom-0 left-4 text-white text-lg text-balance">Disfruta de tu <strong>alojamiento</strong> con servidores de europa con asistencia <strong>24/7</strong></p>
            </figure>
        </article>
        <article class="col-span-6 row-span-3 lg:col-span-4 lg:row-span-6  rounded-xl shadow-lg relative gap-1 text-center" >
            <div class="absolute z-10 bg-gradient-to-b from-transparent to-[rgb(1,1,1,0.7)] w-full h-full rounded-xl" />
            <Image loading={"eager"} src={bento3} alt="diseño web" class="rounded-xl absolute w-full h-full object-cover" />
            <figure class="absolute z-20 w-full h-full p-4 justify-end  flex flex-col">
                <figcaption class=" z-20 bottom-4 left-4 text-white text-2xl font-bold tracking-widest">SEO</figcaption>
                <p class=" z-20 bottom-0 left-4 text-white text-lg text-balance">Te proporcionamos el mejor <strong>SEO</strong>, a medida de tus necesidades.</p>
            </figure>
        </article>
        <article class="col-span-6 row-span-3 lg:col-span-6 lg:row-span-4 rounded-xl shadow-lg relative gap-1 " >
            <div class="absolute z-10 bg-gradient-to-b from-transparent to-[rgb(1,1,1,0.7)] w-full h-full rounded-xl" />
            <Image loading={"eager"} src={bento4} alt="diseño web" class="rounded-xl absolute w-full h-full object-cover" />
            <figure class="absolute z-20 w-full h-full p-4 justify-end  flex flex-col">
                <figcaption class=" z-20 bottom-4 left-4 text-white text-2xl font-bold tracking-widest">Optimización</figcaption>
                <p class=" z-20 bottom-0 left-4 text-white text-lg text-balance">Ingeniería de paginas web con frameworks de <strong>vanguardia</strong></p>
            </figure>
        </article>
    </div>
</section>
