---

---

<section class="w-full flex justify-center">
	<div class="w-[928px] flex flex-col items-center gap-6">
		<div class="flex flex-col items-center gap-2">
			<h2 class="text-4xl font-black">Ready to get started?</h2>
			<p>
				Join the millions of people who use SiteBuilder to build their websites
				for free.
			</p>
		</div>
		<button class="bg-blue-600 text-white px-5 py-2 text-lg rounded-xl">
			Get started
		</button>
	</div>
</section>
