---

---


<footer class=" mt-6 flex w-full justify-center">
    <div class="w-[928px] border-t-2 flex justify-between py-4 text-slate-700">
        <div>
            Holass
        </div>
        <div>
            adios
        </div>
    </div>
</footer>