---

---

<footer class="mt-6 flex w-full justify-center">
	<div class="w-[928px] border-t-2 flex justify-between py-4 text-slate-700">
		<div class="flex flex-col gap-4">
			<p class="">Eleva tu empresa al siguiente nivel con Freewebdesign</p>
			<span class="text-sm text-black"
				>Freewebdesign 2023.All rigths reserved.</span
			>
		</div>
		<div>
			<ul class="flex text-center flex-col md:flex-row gap-4">
				<li><a href="/" target="_self" class="text-slate-700 font-medium">Inicio</a></li>
				<li><a href="/demo" target="_parent" class="text-slate-700 font-medium">Contacto</a></li>
				<li class="flex flex-col">
					<a href="https://github.com/EseToni/Freewebdesign" target="_blank" class="text-slate-700  font-medium">Acerca de</a>

				</li>
			</ul>
		</div>
	</div>
</footer>
