---
import heroimg from 'images/banner.png'
---
<section class="flex w-full  justify-center">
    <div class="relative w-[928px] ">
      <img src="images/banner.png" alt="img">
    </div>
  </section>