---
import heroimg from 'images/banner.png'
---
<section class="flex w-full h-screen justify-center py-10">
    <div class="relative w-[928px] h-[480px]">
      <img src="images/banner.png" alt="img">
    </div>
  </section>