---
import { Image } from 'astro:assets'
import heroimg from '@img/banner.png'
---
<section class="flex w-full  justify-center">
    <div class="relative w-[928px] ">
      <Image src={heroimg} alt="Web design">
    </div>
  </section>