---
interface Props {
	title: string
}

const { title } = Astro.props

import "@fontsource-variable/inter"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		font-size: 16px;
	}

	.selected {
		background-color: #2563eb;
		color: #fff;
		box-shadow:
			0 10px 15px -3px rgb(0 0 0 / 0.1),
			0 4px 6px -4px rgb(0 0 0 / 0.1);
	}
	.selected:hover {
		background-color: #2563eb;
		color: #fff;
		cursor: default;
	}
	.scrollOut {
		scrollbar-width: thin;
		scrollbar-color: transparent transparent;
	}
	.scrollOut ::-webkit-scrollbar {
		widows: 0.5em;
	}
	.scrollOut ::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
	.scrollOut ::-webkit-scrollbar-track {
		background-color: transparent;
	}

	.textShadow {
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	}
	@keyframes animate_nav {
		0% {
			backdrop-filter: blur(10px);
			background: transparent;
		}
		100% {
			backdrop-filter: blur(0px);
			background: #f7fafc;
			box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.1);
		}
	}
	#navbar {
		animation: animate_nav linear both;
		animation-timeline: scroll();
		animation-range: 0 630px;
		border-bottom: 2px solid rgb(167, 167, 167, 0.3);
	}
	code {
		font-family:
			Courier New,
			monospace;
	}
</style>
