---
interface Props {
	title: string
}

const { title } = Astro.props

import "@fontsource-variable/inter"
import Navbar from "@components/Navbar.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		font-size: 16px;
	}

	.selected {
		background-color: #2563eb;
		color: #fff;
		box-shadow:
			0 10px 15px -3px rgb(0 0 0 / 0.1),
			0 4px 6px -4px rgb(0 0 0 / 0.1);
	}
	.selected:hover {
		background-color: #2563eb;
		color: #fff;
		cursor: default;
	}
	.scrollOut {
		scrollbar-width: thin;
		scrollbar-color: transparent transparent;
		
	}
	.scrollOut ::-webkit-scrollbar {
		widows: 0.5em;

	}
	.scrollOut ::-webkit-scrollbar-thumb {
		background-color: transparent;
	}
	.scrollOut ::-webkit-scrollbar-track {
		background-color: transparent;
	}

	code {
		font-family:
			Courier New,
			monospace;
	}
</style>
