---
import { Image } from "astro:assets"
import profile from "@img/profile.png"
import Layout from "../layouts/Layout.astro"
import Form from "@components/Form.astro"
---

<Layout title="Agency date">
	<main class="mt-16 w-full flex justify-center">
		<div
			class="w-[960px] h-[560px] grid grid-cols-8 grid-rows-1 gap-0 shadow-xl rounded-lg border-[1px]"
		>
			<section class="flex flex-col gap-6 border-r-2 p-10 pr-4 col-span-3">
				<div class="border-2 w-max rounded-full hover:border-transparent cursor-pointer hover:bg-blue-100 ">
					<svg class="fill-blue-500" width="36" height="36" viewBox="0 0 24 24"
						><path
							d="m7.85 13l2.85 2.85q.3.3.288.7t-.288.7q-.3.3-.712.313t-.713-.288L4.7 12.7q-.3-.3-.3-.7t.3-.7l4.575-4.575q.3-.3.713-.287t.712.312q.275.3.288.7t-.288.7L7.85 11H19q.425 0 .713.288T20 12q0 .425-.288.713T19 13z"
						></path></svg
					>
				</div>
				<figure class="flex flex-col gap-2">
					<Image src={profile} alt="Profile " class="w-20 h-20 rounded-full" />

					<figcaption>
						<h2 class="font-medium text-slate-500">Eduardo Lopéz</h2>
						<h3 class="font-bold text-xl ">
							15 Minutos con Eduardo Project Manager
						</h3>
					</figcaption>
				</figure>
				<span>15 min</span>
			</section>
			<section class="rounded-xl col-span-5 px-6 py-4 flex flex-col gap-6">
				<Form />
			</section>
		</div>
	</main>

</Layout>
