---
import Layout from "../layouts/Layout.astro"
import Hero from "@sections/Hero.astro"
import About from "@sections/About.astro"
import Contact from "@sections/Contact.astro"
import Navbar from "@components/Navbar.astro"
---

<Layout title="Welcome to Astro.">
<<<<<<< HEAD
	<Navbar />
	<main class="mt-20 flex flex-col gap-8 pb-10 ">
=======
	<main class="mt-20 flex flex-col gap-8 pb-10">
>>>>>>> 2dbb4ed8e2b1df427539694d1e7c50431a4466f4
		<Hero />
		<About />

	</main>
</Layout>
