---
import Layout from "../layouts/Layout.astro"
import Hero from "@sections/Hero.astro"
import About from "@sections/About.astro"
import Navbar from "@components/Navbar.astro"
---

<Layout title="Welcome to Astro.">
	<Navbar />
	<main class="mt-20 flex flex-col gap-8 pb-10 ">
		<Hero />
		<About />
	</main>
</Layout>
