---
import Layout from "../layouts/Layout.astro"
import Hero from "@sections/Hero.astro"
import About from "@sections/About.astro"
import Navbar from "@components/Navbar.astro"
import Foooter from "@sections/Footer.astro"
---

<Layout title="Freewebdesign - Hacemos tu pagina gratis y el alojamiento por solo 8 euros mensuales.">
	<Navbar />
	<main class="mt-20 flex flex-col gap-8 pb-10 p-6 md:p-3 lg:p-0">
		<Hero />
		<About />
		<Foooter />
	</main>
</Layout>
